.albumTitle {
  color:rgb(66, 224, 172)
}

.photosListContainer{
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.photosListUI{
  cursor: pointer;
  transition: .2s ease all;
}

.photosListUI:hover{
  transform: scale(1.05);
}

.text-link{
  color: inherit !important;
  text-decoration: inherit !important;

}
